body {
  --app-radius: 10px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #dcddde;
  overflow: hidden;
  background-color: #202225E6;
  border-radius: var(--app-radius);
  height: 100vh;
  contain: strict
}
* { user-select: none }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
  flex-direction: column;
  background-color: #20222580
}
#loader.fade {
  opacity: 0;
  transition: opacity 0.3s ease
}

#close-app {
  position: fixed;
  right: 0;
  top: 0;
  fill: #b9bbbe;
  height: 30px;
  width: 30px;
  -webkit-app-region: none;
  z-index: 10
}
#close-app:hover > svg { fill: #dcddde }
#close-app:hover:active > svg {
  transform: translateY(2px);
  fill: #fff
}

#titlebar {
  -webkit-app-region: drag;
  height: 40px;
  width: 100vw;
  position: relative
}
#logo {
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-app-region: none
}

#body { opacity: 0 }
#body.fade {
  opacity: 1;
  transition: opacity 0.3s ease
}

#content {
  height: calc(100vh - 50px);
  width: calc(100vw - 20px);
  background-color: #292b2f80;
  border-radius: var(--app-radius);
  contain: strict;
  position: fixed;
  top: 30px;
  left: 0;
  padding: 10px;
  z-index: 1
}
.discord-card {
  display: flex;
  padding: 10px;
  background-color: #36393f80;
  border-radius: var(--app-radius);
  width: 400px;
  box-sizing: border-box;
  height: 80px;
  margin-left: 40px;
  transition: all 0.2s ease;
  cursor: pointer
}
.discord-card.disabled {
  opacity: .9;
  pointer-events: none;
  filter: brightness(0.9)
}
.discord-card:hover:not(:active) {
  transform: scale(1.01);
  box-shadow: #202225 0 4px 4px
}
.discord-card:active:hover { background-color: #F52590 }
.discord-content { margin-left: 10px }
.discord-card:nth-child(2) {
  margin-bottom: 20px;
  margin-top: 20px
}
.discord-image {
  background-color: #292B2F;
  border-radius: var(--app-radius);
  width: 60px;
  min-width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff
}
#stable .discord-image { background-color: #596aef }
#ptb .discord-image { background-color: #5868f4 }
#canary .discord-image { background-color: #f9b34b }
.discord-content > :first-child {
  margin-top: 13px;
  font-size: 24px
}
.discord-content > :last-child {
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100vw - 190px);
  cursor: text;
  pointer-events: all
}

.select-card {
  display: flex;
  padding: 10px;
  background-color: #36393f80;
  border-radius: var(--app-radius);
  width: 400px;
  box-sizing: border-box;
  height: 80px;
  margin-left: 40px;
  transition: transform 0.2s ease;
  cursor: pointer;
  align-items: center; 
  justify-content: center;
  font-size: 24px
}
.select-card:hover:not(:active) {
  transform: scale(1.1);
  box-shadow: #202225 0 4px 4px
}
.select-card:active:hover { background-color: #F52590 }
.select-card:first-child {
  margin-top: 65px;
  margin-bottom: 10px
}

#logs {
  background-color: #36393f80;
  width: calc(100vw - 20px);
  height: calc(100vh - 50px);
  border-radius: var(--app-radius);
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll
}
#logs::-webkit-scrollbar {
  width: 16px;
  height: 16px
}
#logs::-webkit-scrollbar-corner { background-color: transparent }
#logs::-webkit-scrollbar-thumb {
  background-color: #20222580;
  min-height: 40px
}
#logs::-webkit-scrollbar-thumb, #logs::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px
}
.scroller-kQBbkU::-webkit-scrollbar-track { margin-bottom: 8px }
#logs::-webkit-scrollbar-thumb, #logs::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px
}
#logs::-webkit-scrollbar-track { background-color: transparent }
.log { margin-bottom: 5px }
.space-log { margin-bottom: 15px }